@charset "utf-8";
.footer {
  margin: 0 auto;
  max-width: 90vw;
  height: 35vh;
}
.footer > div {
  display: flex;
}
.footer > div:first-child {
  align-items: center;
  position: relative;
  padding-top: 8vh;
}
.footer > div:nth-child(2) {
  font-weight: 600;
  color: rgb(107, 107, 107);
  height: 8vh;
  align-items: center;
  gap: 2vw;
}

.footer > div:nth-child(3) {
  font-size: 0.9rem;
  color: rgb(117, 117, 117);
  border-top: 1px solid gray;
  padding-top: 2vh;
  gap: 1.5vh;
}
.footer > div:nth-child(3) div {
  display: flex;
  gap: 1vw;
}
.img {
  width: 8vw;
  position: relative;
}
.img img {
  width: 100%;
}
.div3 {
  flex-direction: column;
  display: flex;
}
.div3in div {
  display: flex;
  position: relative;
}
