@charset "utf-8";
.in2 {
  position: relative;
  display: flex;
}
.in2 > div {
  flex-direction: column;
  display: flex;
}
.div1-2 {
  width: 100%;
  display: flex;
  position: relative;
}
.mid {
  padding-bottom: 10vh;
  flex-direction: column;
  display: flex;
  border-bottom: 1px solid rgb(161, 161, 161);
}
.logoimg {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  height: 30vh;
  width: 100%;
  background: rgb(245, 245, 245);
}
.logoimg img {
  max-width: 32.8125rem;
}
.midin {
  padding-top: 10vh;
  gap: 5vw;
  display: flex;
}
.p1 {
  margin-bottom: 5vh;
  font-size: 1.7rem;
  font-weight: 400;
}
.midin img {
  object-fit: contain;
}
.mid div {
  display: flex;
}
.midtxt {
  flex-direction: column;
  display: flex;
}
.midtxt p:first-child {
  margin-bottom: 1vh;
  font-weight: 600;
}
.midtxt p span {
  padding-left: 10px;
  position: relative;
  color: rgb(97, 97, 97);
  word-break: keep-all;
  font-size: 1.1rem;
  font-weight: 500;
}
.midtxt p span::before {
  content: "";
  display: block;
  width: 0.25rem;
  height: 0.25rem;
  background-color: #666;
  position: absolute;
  left: 0;
  top: 10px;
}
