@charset "utf-8";

body {
  overflow-x: hidden;
}
#footer {
  position: relative;
  margin-top: 10vh;
}
.midfont {
  font-weight: 500;
  padding: 3vh 0 5vh;
  font-size: 2.5rem;
}
.name {
  height: 20vh;
  width: 1200px;
  align-items: center;
  padding-bottom: 7vh;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: column;
  margin-bottom: 6vh;
  gap: 2.5vw;
  display: flex;
}
.me h1 {
  font-weight: 600;
  font-size: 3rem;
}
.me h2 {
  font-weight: 400;
  font-size: 1.7rem;
  text-align: center;
}
/*배너 1--------------------*/
.banner1 {
  transition: 0.5s ease-in-out;
  opacity: 1;
  flex-direction: column;
  display: flex;
  position: relative;
}
.banner1txt {
  justify-content: space-between;
  padding-bottom: 9vh;
  align-items: flex-end;
  font-size: 1.3rem;
  flex: 1;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
}
.banner1tit {
  font-size: 4rem;
}
.banner1left {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.5s ease-out forwards;
  animation-delay: 0s;
  flex-direction: column;
  display: flex;
}
.banner1right {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.5s ease-out forwards;
  animation-delay: 0.5s;
  align-items: center;
  position: relative;
  font-weight: 500;
  gap: 0.8vw;
  display: flex;
}

.banner1img {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.5s ease-out forwards;
  animation-delay: 1s;
}

.riimg {
  display: flex;
}

.ri1 {
  color: rgb(177, 13, 13);
  font-weight: 500;
}

.banner1img {
  position: relative;
  width: 100%;
}
.banner1img p {
  position: relative;
  margin: 0 auto;
  max-width: 1570px;
}
.banner1img p img {
  width: 100%;
}
/*배너 1--------------------*/

/*중간메뉴--------------------*/
.menu2 {
  padding-bottom: 9vh;
  padding-top: 7vh;
  align-items: center;
  justify-content: space-around;
  height: 7vh;
  display: flex;
  margin: 0 auto;
  max-width: 950px;
}
.menu2 p {
  justify-content: center;
  display: flex;
  position: relative;
  height: 80%;
  flex: 1;
}
.menu2 p span {
  font-weight: 500;
  font-size: 1.3rem;

  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  height: 100%;
  width: 90%;
}
.menu2 p span.on {
  border-bottom: 3.5px solid rgb(179, 28, 28);
}

.menu2 p::after {
  content: "";
  height: 2.3vh;
  width: 2px;
  background: rgb(168, 168, 168);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.menu2 p:last-child::after {
  content: "";
  background: transparent;
}
/*중간메뉴--------------------*/

.banner2 {
  flex-direction: column;
  display: flex;
  width: 100%;
  height: auto;
  overflow: visible;
  padding-top: 11vh;
  font-size: 1.5rem;
  position: relative;
}
.banner2 > div {
  flex: 1;
  position: relative;
}
.boxs {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}
.boxs > div {
  position: relative;
  display: flex;
}
.me {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  flex-direction: column;
  display: flex;
}

#in1,
#in2,
#in3 {
  overflow: hidden;
  height: 0;
  transition: 0.5s ease-in-out;
  opacity: 0;
  position: absolute;
}

#in1.on {
  height: 115vh;
  opacity: 1;
}
#in2.on {
  height: 220vh;
  opacity: 1;
}

#in3.on {
  height: 150vh;
  opacity: 1;
}
.in1bg,
.in2bg,
.in3bg {
  display: none;
}

.in1bg.on {
  height: 115vh;
  display: block;
}
.in2bg.on {
  height: 220vh;
  display: block;
}
.in3bg.on {
  height: 150vh;
  display: block;
}
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
